# vim:filetype=sh

# Set path to local install of bash config and vim files
export KM_HOME=$HOME
export KM_BASH="$KM_HOME/.km_bash"
export KM_VIM="$KM_HOME/.myvim"

source "$KM_BASH/lib/gruvbox_256palette_osx.sh"

# Set local prompt name/color
export KM_PROMPT="{{ prompt_name }}"
export KM_PROMPT_COLOR="{{ prompt_color }}"

# Set local name and email (for git, mostly)
export KM_NAME="Kevin McCulloch"
export KM_EMAIL="{{ km_email }}"

alias vi='vim'

# Source BASH settings common to all environments
source "$KM_BASH/bashrc"
